/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 

body {
    width: 80vw;
    margin: auto;
    padding-top: 10vh;
    background-color: black;
}

.header {
    width: 80vw;
    height: 10vh;
    display: flex;
    position: fixed; 
    /* bottom: 30px; */
    color: rgb(42, 171, 226);
    background-color: rgb(37, 37, 37);
    top: 0;
    padding: 15px;
    align-items: center;
}

.dev-daily {
    font-size: 30px;
    font-weight: 100;
    position: relative;
    padding-right: 65px;
}

.nav {
    width: 50vw;
    justify-content: right;
    align-items: right;   
}

ul li {
    color: white;
    display: inline;
    float: right;
    padding-left: 50px;
    display: flex;
    flex-direction: column-reverse;
}

.skills-check {
    background-color: white;
    width: 100%;
    /* height: 75%; */
    padding: 25px 100px;
    align-items: center;
    display: flex;
}

.skill-text {
    float: left;
    width: 60vw;
    display: inline;
    padding-right: 35px;
}

p {
    background-color: white;
    padding-top: 15px;
}

.skills-nav {
    float: right;
    width: 20vw;
    padding-bottom: 50px;
}

.your-name {
    border-radius: 15px;
    background: white;
    padding: 20px 15px;
    border-radius: 10px;
    text-align: center;
    margin-top: 1px;
    -webkit-box-shadow: 0px 0px 13px 8px rgba(0,0,0,0.28); 
    box-shadow: 0px 0px 13px 8px rgba(0,0,0,0.28);
    margin-bottom: 35px;
}

.name-img {
    width: 100px;
    height: 100px;
}

.articles{
    border-radius: 15px;
    background: white;
    padding: 20px 15px;
    border-radius: 10px;
    text-align: center;
    margin-top: 1px;
    -webkit-box-shadow: 0px 0px 13px 8px rgba(0,0,0,0.28); 
    box-shadow: 0px 0px 13px 8px rgba(0,0,0,0.28);
}

h4 {
    padding-bottom: 10px;
}

ol li {
    text-align: left;
    padding: 5px .5px;
    margin-left: 25px;
}

.second-section {
    background-color: white;
    width: 100%;
    /* height: 75%; */
    padding: 0px 100px 35px 100px;
    align-items: center;
    display: flex;
}

h5 {
    padding-left: 300px;
    padding-top: 10px;
    text-align: right;
    color: rgb(42, 171, 226);
    font-size: 17px;
}

.gallery {
    width: 80vw;
    height: 30vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
    padding-right: 30vw;
    padding-left: 10vw;
}

.dev-img {
    height: 90px;
    width: 130px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img {
    height: 110px;
    width: 130px;
}

footer {
    width: 80vw;
    height: 50px;
    background-color: rgb(42, 171, 226);
    padding: 15px 15px;
}

.questions-image {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 15px;
    right: 130px;
    background-color: rgb(42, 171, 226);
    border-radius: 50%;
}
